<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="https://jakarta.ee/xml/ns/jakartaee"
xsi:schemaLocation="http://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
version="6.0">
  <servlet>
    <description></description>
    <display-name>HospitalServlet</display-name>
    <servlet-name>HospitalServlet</servlet-name>
    <servlet-class>com.hospital.web.project.servlet.HospitalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HospitalServlet</servlet-name>
    <url-pattern>/HospitalServlet</url-pattern>
  </servlet-mapping>
  <display-name>HospitalWebProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Hospitalform</display-name>
    <servlet-name>Hospitalform</servlet-name>
    <servlet-class>com.hospital.web.project.servlet.Hospitalform</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hospitalform</servlet-name>
    <url-pattern>/Hospitalform</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.hospital.web.project.servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientLogin</display-name>
    <servlet-name>PatientLogin</servlet-name>
    <servlet-class>com.hospital.web.project.servlet.PatientLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientLogin</servlet-name>
    <url-pattern>/PatientLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPatient</display-name>
    <servlet-name>AddPatient</servlet-name>
    <servlet-class>com.hospital.web.project.servlet.AddPatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPatient</servlet-name>
    <url-pattern>/AddPatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePatient</display-name>
    <servlet-name>DeletePatient</servlet-name>
    <servlet-class>com.hospital.web.project.servlet.DeletePatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePatient</servlet-name>
    <url-pattern>/DeletePatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editPatient</display-name>
    <servlet-name>editPatient</servlet-name>
    <servlet-class>com.hospital.web.project.servlet.editPatient</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>AddDoctor</display-name>
    <servlet-name>AddDoctor</servlet-name>
    <servlet-class>com.hospital.web.project.servlet.AddDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDoctor</servlet-name>
    <url-pattern>/AddDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditDoctorServlet</display-name>
    <servlet-name>EditDoctorServlet</servlet-name>
    <servlet-class>com.hospital.web.project.servlet.EditDoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDoctorServlet</servlet-name>
    <url-pattern>/EditDoctorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.hospital.web.project.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApointmentServlet</display-name>
    <servlet-name>ApointmentServlet</servlet-name>
    <servlet-class>com.hospital.web.project.servlet.ApointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApointmentServlet</servlet-name>
    <url-pattern>/ApointmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>default</servlet-name>
    <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/css/*</url-pattern>
    <url-pattern>/js/*</url-pattern>
    <url-pattern>/img/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckAppointmentsServlet</display-name>
    <servlet-name>CheckAppointmentsServlet</servlet-name>
    <servlet-class>com.hospital.web.project.servlet.CheckAppointmentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckAppointmentsServlet</servlet-name>
    <url-pattern>/CheckAppointmentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckAvailableTimesServlet</display-name>
    <servlet-name>CheckAvailableTimesServlet</servlet-name>
    <servlet-class>com.hospital.web.project.servlet.CheckAvailableTimesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckAvailableTimesServlet</servlet-name>
    <url-pattern>/CheckAvailableTimesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageAppointmentsServlet</display-name>
    <servlet-name>ManageAppointmentsServlet</servlet-name>
    <servlet-class>com.hospital.web.project.servlet.ManageAppointmentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageAppointmentsServlet</servlet-name>
    <url-pattern>/ManageAppointmentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>com.hospital.web.project.servlet.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
</web-app>